[defaults]
# inventory: always pass -i explicitly to avoid targeting the wrong environment
# production: -i inventories/production/oci.oci.yml
roles_path = roles
interpreter_python = auto_silent
pipelining = True
retry_files_enabled = False
force_valid_group_names = ignore
deprecation_warnings = False
callbacks_enabled = ansible.posix.profile_tasks

[inventory]
enable_plugins = oracle.oci.oci

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = ~/.ansible/cp/ansible-%%h-%%p-%%r
