[defaults]
inventory = inventory/oci.oci.yml
roles_path = roles
interpreter_python = auto_silent
pipelining = True
retry_files_enabled = False

[inventory]
enable_plugins = oracle.oci.oci

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = ~/.ansible/cp/ansible-%%h-%%p-%%r
